* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  transition: 1s ease-in-out;
  background-position: center center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 20px rgba(255, 255, 255, 1);
}

.time {
  font-size: 8rem;
  width: 530px;
  display: flex;
  justify-content: space-between;
  font-family: monospace;
}

.hour {
  width: 140px;
  text-align: center;
}
.min{
  width: 140px;
  text-align: center;
}
.sec {
  width: 140px;
  text-align: center;
}

.name {
  display: inline-block;
}

.date {
  font-size: 3rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

.next-background {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.5s;
}

.next-background:hover {
  background: rgb(113, 255, 48);
}

.next-quote {
  margin-top: 15px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.5s;
  width: 200px;
}

.next-quote:hover {
  background: rgb(113, 255, 48);
}

.weather {
  position: absolute;
  left: 20px;
  top: 20px;
  text-align: left;
}


.main-weather-block {
  display: flex;
  justify-content: space-around;
}

.weather-icon {
  font-size: 30px;
}

.block-quote {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  max-width: 320px;
}


@media (max-width: 700px) {
  .time {
    font-size: 6rem;
    width: 350px;
  }
  
  .hour {
    width: 110px;
  }
  .min{
    width: 110px;
  }
  .sec {
    width: 110px;
  }

  .date {
    font-size: 1.2rem;
  }
}

@media (max-width: 550px) {
  .body {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }

  .time {
    font-size: 40px;
    width: 200px;
  }

  .hour {
    width: 60px;
  }
  .min{
    width: 60px;
  }
  .sec {
    width: 60px;
  }

  .date {
    font-size: 1rem;
  }

  .weather {
    position: static;
    text-align: center;
    margin: 0 auto;
  }

  .main-weather-block {
    display: flex;
    justify-content: center;
    column-gap: 10px;
  }

  .quote {
    margin-top: 10px;
  }

  .block-quote {
    margin-top: 10px;
  }

  .next-quote {
    margin-top: 2px;
  }

  .fullGreeting {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .focus-ask {
    font-size: 20px;
  }
}